<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","className":"lqf-main","layout":{"type":"default"}} --><main class="wp-block-group lqf-main"><!-- wp:group {"tagName":"div","className":"lqf-shell lqf-standard","layout":{"type":"default"}} --><div class="wp-block-group lqf-shell lqf-standard"><!-- wp:query-title {"type":"archive","showPrefix":false} /-->
<!-- wp:query {"query":{"inherit":true}} --><div class="wp-block-query"><!-- wp:post-template {} --><!-- wp:group {"tagName":"div","className":"lqf-list-post","layout":{"type":"default"}} --><div class="wp-block-group lqf-list-post"><!-- wp:post-title {"isLink":true,"level":2} /-->
<!-- wp:post-excerpt {} /-->
</div><!-- /wp:group -->
<!-- /wp:post-template -->
<!-- wp:query-pagination {} --><!-- wp:query-pagination-previous {} /-->
<!-- wp:query-pagination-numbers {} /-->
<!-- wp:query-pagination-next {} /-->
<!-- /wp:query-pagination -->
<!-- wp:query-no-results {} --><!-- wp:paragraph {} --><p>Nenhum conteúdo publicado nesta categoria ainda.</p><!-- /wp:paragraph -->
<!-- /wp:query-no-results -->
</div><!-- /wp:query -->
</div><!-- /wp:group -->
</main><!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
