<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","className":"lqf-main","layout":{"type":"default"}} --><main class="wp-block-group lqf-main"><!-- wp:group {"tagName":"div","className":"lqf-standard","layout":{"type":"default"}} --><div class="wp-block-group lqf-standard"><!-- wp:group {"tagName":"article","className":"lqf-shell lqf-article","layout":{"type":"default"}} --><article class="wp-block-group lqf-shell lqf-article"><!-- wp:post-title {"level":1} /-->
<!-- wp:post-content {} /-->
</article><!-- /wp:group -->
</div><!-- /wp:group -->
<!-- wp:template-part {"slug":"cta"} /-->
</main><!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
